@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

.radix-themes {
	--default-font-family: var(--font-poppins);
}

body {
  overscroll-behavior: contain;
}

@keyframes qr-scan {
  0%   { top: 0%; }
  50%  { top: calc(100% - 2px); }
  100% { top: 0%; }
}
